/*  ==============================================

Spartan Colors, and style overrides

Primary Color = #0732a2
Primary Color - Hover = #8b1022


Main blue: #0732a2
button blue: #2d5be3
section blue: #e6ebf6
link blue: #2d5be3

============================================== */




h4,
a,
.color-text,
.button-dark,
ul.nav li a:hover,
ul.nav li.active a,
.featured .event-recap div h3,
.plan-price,
.program table thead td h3,
ul.downloads li a:hover,
ul.downloads li a i,
ul.nav li:hover > a,
.teaser .text-container h1 {
	color: #0732a2;
}

a:hover {
	text-decoration: underline;
}

.color-background,
.button-dark:hover,
.flex-control-paging li a.flex-active,
.featured h2,
.featured form input[type="submit"],
.featured a.event-button,
.testimonials .testimonial:hover .bubble,
.tumblr_posts .tumblr_quote_post:hover .tumblr_quote,
.plan .plan-title,
.button-row a,
.program table:hover thead td,
.register form input[type="submit"],
.contact form input[type="submit"],
.social li a:hover,
.feature:hover .icon-container {
	background: #0732a2;
}

.checkbox-on .checkbox-placeholder,
.gallery .image-container a,
.prices a.ticket-button {
	background-color: #0732a2;
}

.checkbox-on .checkbox-placeholder {
	background-color: #0732a2 !important;
}

.featured form input[type="submit"]:hover,
.featured a.event-button:hover,
.prices .ticket:hover a.ticket-button,
.register form input[type="submit"]:hover,
.contact form input[type="submit"]:hover {
	background: #8b1022;
}

.testimonials .testimonial:hover .bubble:after, .tumblr_posts .tumblr_quote_post:hover .tumblr_quote:after {
	border-top-color: #0732a2;
}

/* =========== Style Overrides ============ */
h1 {
	font-weight: bold;
	letter-spacing: -0.05rem;
}

strong, .strong {
	font-weight: 500;
}

.header {
	background: #151515;
	height: 93px;
	border-bottom: 3px solid #0732a2;
}
.logo {
	padding-top: 0;
}
img.full-width {
	width: 100%;
}
ul.nav li a {
	line-height: 90px;
	font-weight: bold;
	font-size: 1rem;
	text-transform: uppercase;
	color: #0732a2;
}

ul.nav li a:hover,
ul.nav li.active a {
	background: #0732a2;
	color:#d4d4d4;
}
ul.info {
	list-style-type: square;
	font-size: 20px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: 30px;
}
ul.info li {
	margin: 15px 0;
}
.teaser {
	background: #EDECEC url(../images/spartanup-bg.png) no-repeat center center;
}

.teaser h1.bio {
	letter-spacing: -0.08rem;
	font-size: 32px;
}

.teaser img {
	margin: 50px 0;
}

.teaser h2 {
	margin: 15px 0;
}

.featured {
	margin-top: -355px;
}

.featured h2 {
	border-radius: 0;
}

.featured form, .featured .event-recap {
	border-radius: 0;
}

.featured form input {
	border-radius: 3px;
}

.featured form input[type="submit"], .button-dark, .button-light, .featured a.event-button {
	box-shadow: inset 0px -4px 0px rgba(0,0,0,0.3);
	padding: 12px 20px 18px 20px;
	border-radius: 3px;
}

.featured form input[type="submit"], .featured a.event-button {
	padding: 5px 20px 10px 20px;
}


.featured .event-recap img, .teaser img {
	width: 100%;
	height: auto;
}

.dark-gray-background h1 {
	color: white;
}

.color-background h2 {
	margin-bottom: 0;
}

.social li a {
-webkit-border-radius: 3px;
   -moz-border-radius: 3px;
     -o-border-radius: 3px;
        border-radius: 3px;
}

.social li a i {
	color: inherit;
}

.social li a.social-button-google-plus,
.social li a.social-button-twitter,
.social li a.social-button-facebook {
	color:white;
}

.social li a.social-button-google-plus:hover,
.social li a.social-button-twitter:hover,
.social li a.social-button-facebook:hover {
	color:#0732a2;
	background-color: white;
}

.social li a.social-button-google-plus {
	background-color: #D34836 ;
}

.social li a.social-button-twitter {
	background-color: #4099FF;
}

.social li a.social-button-facebook {
	background-color: #3B5999;
}

audio {
	width:100%;
}

.teaser .flexslider,
.teaser .video {
	margin: 40px 0;
}

.dark-gray-background h2 {
	color: #ffffff;
	margin: 0px;
	font-weight: 700;
}

.dark-gray-background .container {
	padding: 25px 0 30px 0;
}

.white-background p {
	font-size: 16px;
	font-weight: 300;
}
span.smaller {
	font-size: smaller;
}

.button-light {
	background: #0732a2;
	color: #ffffff;
	padding: 12px 30px 18px 30px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	-webkit-transition: background linear .2s, color linear .2s;
	-moz-transition: background linear .2s, color linear .2s;
	-o-transition: background linear .2s, color linear .2s;
	display: block;
	text-align: center;
}

.button-light:hover {
	color: #0732a2;
	background: #f2f2f2;
}

.leading-md {
	margin-bottom: 20px;
}

.trailing-md {
	margin-top: 20px;
}

.tumblr_source strong {
	font-size: 20px;
	line-height: 30px;
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
	display: block;
}

.tumblr_source {
	margin-top: 20px;
	width: 100%;
	display: inline-block;
}

.tumblr_source p {
	display: none;
}

.tumblr_source p:first-of-type {
	display: block;
}

code,
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 0;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 0;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
p.instruction, h2.top-caption, h3.top-caption {
	margin-bottom: 0;
}

body.fixed-nav .teaser-section {
	margin-top: 93px;
}

body.fixed-nav #race {
	margin-top: 94px;

}
.modal-dialog {
	width: 600px;
	margin: 10rem auto auto auto;
}
